$gray-1: #FBFBFB;
$gray-2: #F8F8F8;
$gray-3: #E4E4E4;
$gray-4: #C9CCCA;
$gray-5: #B4B4B4;
$gray-7: #454846;
$gray-8: #242826;

$theme-100: #184235;
$theme-80: #46685D;
$theme-60: #748E86;
$theme-40: #A3B3AE;
$theme-20: #D1D9D7;

$error-100: #C44040;
$error-80: #D06666;
$error-40: #E7B3B3;
$error-20: #F3D9D9;

$info-100: #349DFA;
$info-80: #5CB1FB;
$info-60: #85C4FC;
$info-40: #AED8FD;
$info-20: #D6EBFE;

$warning-100: #E08057;
$warning-80: #E69A79;
$warning-20: #F9EBDD;

$success-100: #4BB543;
$success-80: #6FCF6B;
$success-20: #DFF3DD;