# Dependências
node_modules/
dist/
build/
bin/
obj/

# Variáveis de Ambiente (Segurança!)
.env
.DS_Store
.idea/
.vscode/
.vs/

# Logs de erros do sistema e do NPM (para não encherem o repositório)
*.log
npm-debug.log*

# Variantes do ficheiro .env (muito importante!)
.env.*
!.env.example

# Relatórios de Testes (gerados automaticamente mais tarde)
coverage/