@use "variables/colors";

body {
    height: 100vh;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Poppins';
    }

    h1 {
        font-size: 36px;
        color: colors.$theme-100;
        font-weight: 600;
    }
    /* Ficheiro: /app/assets/styles/styles.scss */

    .main-wrapper {
        /* O Flexbox é a magia que põe o Menu e a Dashboard lado a lado! */
        display: flex;
        width: 100%;
        /* Opcional: Se o vosso Header tem 76px de altura (como vi antes), 
     isto garante que o resto da página ocupa exatamente até ao fundo do ecrã */
        min-height: calc(100vh - 76px);
    }

    .body-wrapper {
        /* O flex: 1 diz à Dashboard: "Ocupa todo o espaço que sobrar depois do Menu!" */
        flex: 1;
        /* Se o conteúdo da Dashboard for gigante, só esta parte faz scroll (o Menu fica fixo) */
        overflow-y: auto;
        background-color: #f4f7f6; /* Uma cor de fundo suave para o conteúdo geral */
    }
}