@use "variables/colors";

body {
    height: 100vh;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Poppins';
    }

    h1 {
        font-size: 36px;
        color: colors.$theme-100;
        font-weight: 600;
    }

    .main-wrapper {
        display: flex;
        min-height: calc(100vh - 76px);
        width: 100%;
    }

    .body-wrapper {
        flex: 1;
        padding: 46px;
        background-color: colors.$gray-1;
        overflow-y: auto;
    }
}