@use "../../assets/styles/variables/colors";

.selectbox-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-size: 14px;
        color: colors.$gray-8;
    }

    select {
        padding: 10px 14px;
        height: 42px;
        font-size: 14px;
        color: colors.$gray-8;
        background-color: colors.$gray-1;
        border: 1px solid colors.$gray-4;
        border-radius: 4px;

        &:hover {
            border-color: colors.$gray-5;
        }

        &:focus {
            border-color: colors.$theme-100;
            outline: none;
        }
    }
}