// Ficheiro: structure/navigation-menu/navigation-menu.scss
@use "../../assets/styles/variables/colors";

.navigation-menu {
    width: 280px;
    min-width: 280px;
    height: 100vh;
    background-color: colors.$gray-8;
    color: colors.$gray-1;
    padding: 2rem 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /* ITENS PRINCIPAIS DO MENU */
    & > ul > li {
        transition: all 0.2s ease;
        cursor: pointer;

        & > a, & > .dropdown-titulo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 12px 30px;
            font-size: 1.1rem;
            color: colors.$gray-1;
            box-sizing: border-box;
            text-decoration: none;
            /* Animação da Seta SVG */
            .seta {
                transition: transform 0.3s ease;

                &.aberta {
                    transform: rotate(180deg);
                }
            }
        }
        /* ESTADO: Ativo (Link direto) ou Pai Ativo (Gaveta aberta noutra página) */
        &.active, &.active-parent {
            background-color: colors.$theme-100;
            font-weight: 600;
        }
        /* ESTADO: Hover nos itens principais */
        &:not(.active):not(.active-parent):hover {
            background-color: colors.$theme-80;
        }
        /* SUBMENUS (Os filhos) */
        .submenu {
            max-height: 0;
            overflow: hidden;
            background-color: colors.$gray-8;
            transition: max-height 0.3s ease-in-out;

            &.open {
                max-height: 600px;
            }

            .sub-item {
                display: block;
                width: 100%;

                a {
                    display: block;
                    padding: 12px 30px 12px 50px; /* 50px = Recuo à esquerda */
                    font-size: 0.95rem;
                    color: colors.$gray-3;
                    text-decoration: none;
                    transition: all 0.2s ease;
                    box-sizing: border-box;
                }
                /* ESTADO: Submenu ATIVO */
                &.active > a {
                    font-weight: 600;
                    color: colors.$theme-40;
                }
                /* ESTADO: Hover no Submenu */
                &:not(.active):hover > a {
                    color: colors.$theme-40;
                }
            }
        }
    }
}

/* RESPONSIVIDADE (Ecrãs Pequenos) */
@media (max-width: 768px) {
    .navigation-menu {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: auto;
    }
}
